<h1>Simple counter {{ counter }}</h1>
<button (click)="incrementCounter()">Increment</button>

<br />

<h1>Interval counter {{ interval }}</h1>
<button (click)="startInterval()">Start Interval</button>

<h1>Signal Interval counter {{ signalInterval() }}</h1>
<button (click)="startSignalInterval()">Start Interval</button>

<h1>Load async data with subscribe</h1>
<button (click)="loadPost()">Load data</button>
<p>{{ post | json }}</p>

<h1>Async Posts</h1>
<p>{{ post$ | async | json }}</p>

<h1>Signal Posts</h1>
<p>{{ postSignal() | json }}</p>
